:root {
    --maincolor: rgb(59, 59, 59);
    --navtextcolour: rgb(128, 128, 128);
    --cardbg: rgba(250, 250, 250, 0.15);
    --cardtxt: rgb(255, 251, 214);
    --cardtrans: rgba(250, 250, 250);
    --highlight: #e67e22;
}

/* ---------------------------------Background Wall Paper------------------------------------------ */
#background {
    background: url(../images/wallpaper-space.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

/* ---------------------------------Background Wall Paper------------------------------------------ */
nav {
    line-height: 30px;
}
/* ----------------------------Side Navigation-------------------------------- */
/* The sidebar menu */
.top-nav {
    height: 110px;
    background-color: var(--maincolor);
}
.sidenavi {
    /* height: 100%; */
    width: 200px; 
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0; */
    background-color: var(--maincolor);
    /* overflow-x: hidden;
    padding-top: 20px; */
}

/* The navigation menu links */
.sidenavi li a {
    padding: 6px 8px 0px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--navtextcolour);
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavi li a:hover {
    color: var(--cardtrans);
    border-right: 6px solid var(--highlight);
}

/* Side nav header */
.sidenavi h1 {
    font-size: 30px;
    text-align: center;
}

/* small and strong content styling */
.sidenavi a strong {
    padding: 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color: var(--navtextcolour);
    display: block;
    text-align: right;
}

.sidenavi a small {
    display: block;
    font-size: 1rem;
    opacity: 0.5;
    text-align: right;
}

/* Style page content */
/* .main {
    margin-left: 200px;
    padding: 0px 10px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidebar */
@media screen and (max-width: 450px) {
    /* .sidenavi {
        width: 100%;
        height: 100px;
    } */
    .sidenavi a {font-size: 18px;}
    .main {
        margin-left: 0px;
    }
} 
/* ----------------------------End Side Navigation-------------------------------- */

.items-done {
    margin-bottom: 10px;
    padding: 50px;
    background-color: var(--cardbg);
    transition: all 0.2s;
    color: var(--cardtrans);
}

.items-done h2 {
    transition: all 0.2s;
}

.items-done p {
    transition: all 0.2s;
}

.items-done h4 {
    transition: all 0.2s;
}

.items-done:hover {
    background-color: var(--cardtrans);
    opacity: 0.5;
}

.items-done:hover h2 {
    color: var(--maincolor);
}

.items-done:hover p {
    color: var(--maincolor);
}

/* .items-done .work-img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
} */


.contactlist {
    margin-bottom: 10px;
    padding: 50px;
    background-color: var(--cardbg);
    transition: all 0.2s;
    height: 200px;
}

.contactlist h4 {
    transition: all 0.2s;
}

.contactlist p {
    transition: all 0.2s;
}

.contactlist:hover {
    background-color: var(--cardtrans);
}

.contactlist:hover h4 {
    color: #1e1e1e;
}

.contactlist:hover p {
    color: var(--maincolor);
}


.card {
    background-color: var(--cardbg);
}

.card-reveal {
    background-color: var(--maincolor) !important;
}

.hidden {
    display: none;
}